Repository azusa152/azusa-stock: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-boundary, eslint, vitest, constant-sync

.pre-commit-config.yaml:

# Pre-commit hooks for Folio — enforces architecture boundaries and code style at commit time.
#
# Setup (done automatically by `make setup`):
#   make setup-hooks
#
# Run manually against all files:
#   backend/.venv/bin/pre-commit run --all-files
#
# Update remote hook versions:
#   backend/.venv/bin/pre-commit autoupdate
#
# Skip (emergency only — CI will still catch violations):
#   git commit --no-verify

# ---------------------------------------------------------------------------
# 1. Standard hygiene hooks (remote — pre-commit/pre-commit-hooks v5.0.0)
# ---------------------------------------------------------------------------
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml           # Validates YAML syntax (docker-compose, CI, this config)
      - id: check-merge-conflict # Prevents committing unresolved conflict markers
      - id: trailing-whitespace  # Removes trailing whitespace for clean diffs
      - id: end-of-file-fixer    # Ensures newline at EOF (POSIX standard)
      - id: check-added-large-files
        args: [--maxkb=500]      # Prevents accidental binary blobs / DB files

# ---------------------------------------------------------------------------
# 2. Python linting and formatting (remote — astral-sh/ruff-pre-commit v0.8.5)
#    Replaces local venv-dependent ruff hooks. ruff-pre-commit ships its own
#    prebuilt binary — works on any machine after `pre-commit install`,
#    no venv required.
# ---------------------------------------------------------------------------
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff                 # Lint with auto-fix; fails if fixes were applied
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format          # Format check (read-only — format explicitly with `make format`)
        files: ^backend/

# ---------------------------------------------------------------------------
# 3. Project-specific hooks (local — no remote equivalent)
# ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: architecture-boundary
        name: architecture boundary check
        entry: bash -c 'cd backend && LOG_DIR=/tmp/folio_test_logs DATABASE_URL=sqlite:// .venv/bin/python -m pytest tests/test_architecture.py -q --tb=short --no-header'
        language: system
        pass_filenames: false
        files: ^backend/

      - id: eslint
        name: eslint (frontend)
        entry: bash -c 'cd frontend-react && npx eslint .'
        language: system
        pass_filenames: false
        files: ^frontend-react/.*\.(ts|tsx|js|jsx)$

      - id: vitest
        name: vitest (frontend)
        entry: bash -c 'cd frontend-react && npm test'
        language: system
        pass_filenames: false
        files: ^frontend-react/

      - id: constant-sync
        name: backend/frontend constant sync
        entry: bash -c 'python3 scripts/check_constant_sync.py'
        language: system
        pass_filenames: false
        files: (backend/domain/core/constants\.py|frontend-react/src/lib/constants\.ts)

feat: Introduce Activity Feed for stock activity tracking
  backend/api/schemas/guru.py
  backend/application/stock/filing_service.py
  backend/infrastructure/persistence/repositories.py
  backend/infrastructure/repositories.py
  backend/tests/application/test_filing_service.py
  backend/tests/infrastructure/test_guru_repositories.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/smartMoney.ts
  frontend-react/src/components/smartmoney/ActivityFeed.tsx
  frontend-react/src/components/smartmoney/OverviewTab.tsx
  frontend-react/src/components/smartmoney/__tests__/ActivityFeed.test.tsx
Due: architecture-boundary, eslint, vitest

feat: Enhance consensus stock details and frontend components
  backend/api/schemas/guru.py
  backend/infrastructure/persistence/repositories.py
  backend/tests/api/test_guru_routes.py
  backend/tests/infrastructure/test_guru_repositories.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/smartMoney.ts
  frontend-react/src/components/smartmoney/ActionBadge.tsx
  frontend-react/src/components/smartmoney/ConsensusStocks.tsx
  frontend-react/src/components/smartmoney/GuruTab.tsx
  frontend-react/src/components/smartmoney/__tests__/ActionBadge.test.tsx
  frontend-react/src/components/smartmoney/__tests__/ConsensusStocks.test.tsx
Due: architecture-boundary, eslint, vitest

feat: Add top5 concentration and turnover metrics to Guru summaries
  backend/api/schemas/guru.py
  backend/infrastructure/persistence/repositories.py
  backend/tests/infrastructure/test_guru_repositories.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/smartmoney/GuruStatusCards.tsx
  frontend-react/src/components/smartmoney/__tests__/GuruStatusCards.test.tsx
  frontend-react/src/lib/constants.ts
Due: architecture-boundary, eslint, vitest, constant-sync

feat: Add Quarter-over-Quarter (QoQ) holding history endpoint and related features
  backend/api/routes/guru_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/guru.py
  backend/application/stock/filing_service.py
  backend/infrastructure/persistence/repositories.py
  backend/infrastructure/repositories.py
  backend/tests/api/test_guru_routes.py
  backend/tests/infrastructure/test_guru_repositories.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useSmartMoney.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/smartMoney.ts
  frontend-react/src/components/smartmoney/GuruTab.tsx
  frontend-react/src/components/smartmoney/QoQTable.tsx
  frontend-react/src/components/smartmoney/__tests__/QoQTable.test.tsx
Due: architecture-boundary, eslint, vitest

feat: Add Grand Portfolio endpoint and related features
  backend/api/routes/guru_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/guru.py
  backend/application/stock/filing_service.py
  backend/infrastructure/persistence/repositories.py
  backend/infrastructure/repositories.py
  backend/tests/api/test_guru_routes.py
  backend/tests/infrastructure/test_guru_repositories.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useSmartMoney.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/smartMoney.ts
  frontend-react/src/components/smartmoney/GrandPortfolioTab.tsx
  frontend-react/src/components/smartmoney/__tests__/GrandPortfolioTab.test.tsx
  frontend-react/src/pages/SmartMoney.tsx
Due: architecture-boundary, eslint, vitest

feat: Add performance metrics to guru holdings endpoints and frontend
  backend/api/routes/guru_routes.py
  backend/api/schemas/guru.py
  backend/application/stock/filing_service.py
  backend/domain/core/constants.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/application/test_filing_service.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useSmartMoney.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/components/smartmoney/GuruTab.tsx
  frontend-react/src/components/smartmoney/__tests__/GuruTabPerformance.test.tsx
Due: architecture-boundary, eslint, vitest, constant-sync

feat: Enhance README and API documentation for new guru features
  README.md
  backend/application/guru/guru_service.py
  backend/domain/core/constants.py
  backend/infrastructure/database.py
  backend/tests/application/test_filing_service.py
  docs/agents/folio/SKILL.md
  frontend-react/src/pages/SmartMoney.tsx
Due: architecture-boundary, eslint, vitest, constant-sync

feat: Enhance Makefile and CI commands for backend testing
  CLAUDE.md
  Makefile
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
Due: architecture-boundary

feat: Enhance portfolio snapshot functionality with multiple benchmark support
  .gitignore
  README.md
  backend/api/routes/snapshot_routes.py
  backend/api/schemas/notification.py
  backend/application/portfolio/snapshot_service.py
  backend/domain/core/entities.py
  backend/infrastructure/database.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/api/test_snapshot_routes.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/dashboard/PerformanceChart.tsx
Due: architecture-boundary, eslint, vitest

feat: Add backfill functionality and update localization for performance metrics
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/dashboard/PerformanceChart.tsx
Due: eslint, vitest

feat: Improve benchmark data handling and user feedback in PerformanceChart
  backend/application/portfolio/snapshot_service.py
  backend/infrastructure/market_data/market_data.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/dashboard/PerformanceChart.tsx
Due: architecture-boundary, eslint, vitest

feat: Enhance Fear & Greed Index with self-calculated components
  backend/api/routes/scan_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/scan.py
  backend/domain/analysis/__init__.py
  backend/domain/analysis/analysis.py
  backend/domain/core/constants.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/api/test_fear_greed.py
  backend/tests/conftest.py
  backend/tests/domain/test_fear_greed_analysis.py
  backend/tests/infrastructure/test_tw_sentiment.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/dashboard/PortfolioPulse.tsx
Due: architecture-boundary, eslint, vitest, constant-sync

feat: Add detailed dividend breakdown and info popover to DividendIncome and PortfolioPulse components
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/dashboard/DividendIncome.tsx
  frontend-react/src/components/dashboard/InfoPopover.tsx
  frontend-react/src/components/dashboard/PortfolioPulse.tsx
Due: eslint, vitest

feat: Add signal activity endpoint and related schema for non-NORMAL stocks
  backend/api/routes/scan_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/scan.py
  backend/api/schemas/stock.py
  backend/application/formatters.py
  backend/application/messaging/notification_service.py
  backend/application/scan/__init__.py
  backend/application/scan/scan_service.py
  backend/application/services.py
  backend/application/stock/stock_service.py
  backend/domain/core/entities.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/infrastructure/database.py
  backend/infrastructure/persistence/repositories.py
  backend/infrastructure/repositories.py
  backend/tests/api/test_scan_routes.py
  backend/tests/application/test_weekly_digest.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useDashboard.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/dashboard.ts
  frontend-react/src/components/dashboard/DividendIncome.tsx
  frontend-react/src/components/dashboard/SignalAlerts.tsx
  frontend-react/src/pages/Dashboard.tsx
Due: architecture-boundary, eslint, vitest

feat: Enhance stock enrichment and prewarm service with sector data
  backend/application/scan/prewarm_service.py
  backend/application/stock/stock_service.py
  backend/tests/application/test_prewarm_service.py
  backend/tests/application/test_stock_service.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/types/dashboard.ts
  frontend-react/src/api/types/radar.ts
  frontend-react/src/components/dashboard/StockHeatmap.tsx
  frontend-react/src/lib/constants.ts
  frontend-react/src/pages/Dashboard.tsx
Due: architecture-boundary, eslint, vitest, constant-sync

feat: Add 'held' label to localization files and update CategoryTabs and StockCard components
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/radar/CategoryTabs.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/pages/Radar.tsx
Due: eslint, vitest

feat: Implement cache invalidation for rebalance operations across multiple routes
  backend/api/routes/holding_routes.py
  backend/api/routes/persona_routes.py
  backend/api/routes/snapshot_routes.py
  backend/application/portfolio/rebalance_service.py
  backend/application/scan/prewarm_service.py
  backend/application/services.py
  backend/application/stock/filing_service.py
  backend/infrastructure/database.py
  backend/infrastructure/external/sec_edgar.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/conftest.py
  backend/tests/infrastructure/test_batch_download.py
Due: architecture-boundary

feat: Enhance logging configuration and request handling with correlation IDs
  backend/application/portfolio/rebalance_service.py
  backend/application/scan/prewarm_service.py
  backend/domain/core/constants.py
  backend/infrastructure/external/notification.py
  backend/infrastructure/market_data/finmind_adapter.py
  backend/logging_config.py
  backend/main.py
  backend/tests/application/test_prewarm_service.py
  backend/tests/infrastructure/test_finmind_adapter.py
  backend/tests/infrastructure/test_notification.py
Due: architecture-boundary, constant-sync

feat: Add handling for known ETFs in rebalance calculations and implement tests for X-Ray ETF breakdown
  backend/application/portfolio/rebalance_service.py
  backend/tests/application/test_xray_etf_breakdown.py
Due: architecture-boundary

feat: Implement notification rate limits and enhance notification handling
  backend/api/schemas/notification.py
  backend/application/portfolio/fx_watch_service.py
  backend/application/portfolio/rebalance_service.py
  backend/application/settings/preferences_service.py
  backend/domain/core/constants.py
  backend/domain/core/entities.py
  backend/domain/entities.py
  backend/infrastructure/database.py
  backend/infrastructure/external/notification.py
  backend/infrastructure/notification.py
  backend/infrastructure/persistence/repositories.py
  backend/infrastructure/repositories.py
  backend/tests/api/test_fx_watch_routes.py
  backend/tests/api/test_preferences_routes.py
  backend/tests/api/test_webhook.py
  backend/tests/application/test_fx_watch_service.py
  backend/tests/application/test_send_fx_alerts.py
  backend/tests/infrastructure/test_notification.py
  docker/scanner/entrypoint.sh
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/allocation/settings/NotificationPreferences.tsx
Due: architecture-boundary, eslint, vitest, constant-sync

feat: Enhance internationalization support with locale checks and translations
  .cursor/rules/i18n-checklist.mdc
  .github/workflows/ci.yml
  Makefile
  backend/api/routes/fx_watch_routes.py
  backend/api/schemas/fx_watch.py
  backend/application/formatters.py
  backend/application/portfolio/rebalance_service.py
  backend/domain/analysis/fx_analysis.py
  backend/domain/core/enums.py
  backend/domain/enums.py
  backend/domain/portfolio/withdrawal.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/tests/domain/test_fx_analysis.py
  backend/tests/domain/test_withdrawal.py
  frontend-react/eslint.config.js
  frontend-react/package-lock.json
  frontend-react/package.json
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useFxWatch.ts
  frontend-react/src/api/openapi.json
  scripts/check_ci_completeness.py
  scripts/check_locale_parity.py
Due: architecture-boundary, eslint, vitest

feat: Implement style filtering for guru data in API and frontend
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  backend/api/routes/guru_routes.py
  backend/api/schemas/__init__.py
  backend/application/stock/filing_service.py
  backend/infrastructure/persistence/repositories.py
  backend/pyproject.toml
  backend/tests/api/test_guru_routes.py
  backend/tests/infrastructure/test_guru_repositories.py
  frontend-react/src/api/hooks/useSmartMoney.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/components/smartmoney/GrandPortfolioTab.tsx
  frontend-react/src/components/smartmoney/OverviewTab.tsx
  frontend-react/src/pages/SmartMoney.tsx
Due: architecture-boundary, eslint, vitest

feat: Enhance snapshot and benchmark backfill endpoints with localization support
  backend/api/routes/snapshot_routes.py
  backend/api/schemas/notification.py
  backend/application/messaging/notification_service.py
  backend/application/scan/scan_service.py
  backend/domain/analysis/__init__.py
  backend/domain/analysis/analysis.py
  backend/domain/core/constants.py
  backend/domain/portfolio/withdrawal.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/tests/api/test_snapshot_routes.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/dashboard/DividendIncome.tsx
  frontend-react/src/components/dashboard/StockHeatmap.tsx
Due: architecture-boundary, eslint, vitest, constant-sync

feat: Add Python version management and checks for CI consistency
  .python-version
  CLAUDE.md
  Makefile
  backend/coverage.json
  frontend-react/src/api/openapi.json
Due: architecture-boundary, vitest

feat: Enhance analysis functions and add comprehensive tests for persona and snapshot routes
  backend/domain/analysis/analysis.py
  backend/tests/api/test_holding_routes.py
  backend/tests/api/test_persona_routes.py
  backend/tests/api/test_snapshot_routes.py
  backend/tests/application/test_snapshot_service.py
  backend/tests/domain/test_analysis.py
Due: architecture-boundary

feat: Enhance API routes with response caching and enriched stock handling
  backend/api/routes/holding_routes.py
  backend/api/routes/scan_routes.py
  backend/api/routes/snapshot_routes.py
  backend/api/routes/stock_routes.py
  backend/application/portfolio/rebalance_service.py
  backend/application/services.py
  backend/application/stock/stock_service.py
  backend/domain/core/constants.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/conftest.py
  frontend-react/src/api/hooks/useDashboard.ts
  frontend-react/src/components/LazySection.tsx
  frontend-react/src/components/dashboard/AllocationGlance.tsx
  frontend-react/src/components/dashboard/PerformanceChart.tsx
  frontend-react/src/components/fxwatch/FxSparkline.tsx
  frontend-react/src/components/fxwatch/WatchCard.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/pages/Dashboard.tsx
Due: architecture-boundary, eslint, vitest, constant-sync

fix: Correctly apply request ID filter to console and file handlers in logging configuration
  backend/logging_config.py
Due: architecture-boundary

docs: Update README and API documentation for Folio skill
  README.md
  docs/agents/AGENTS.md
  docs/agents/folio/SKILL.md
  docs/agents/folio/reference.md
Due: none

chore: Update Docker configuration and ignore files for improved caching
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.override.yml
Due: architecture-boundary

feat: Enhance portfolio rebalance logic and add beta computation
  backend/application/portfolio/rebalance_service.py
  backend/application/scan/prewarm_service.py
  backend/domain/analysis/__init__.py
  backend/domain/analysis/analysis.py
  backend/domain/core/constants.py
  backend/domain/core/formatters.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/infrastructure/market_data/market_data.py
  backend/pyproject.toml
  backend/tests/domain/test_analysis.py
  backend/tests/infrastructure/test_batch_download.py
  backend/uv.lock
Due: architecture-boundary, constant-sync

feat: Optimize signal prewarming and introduce L1 cache hit rate checks
  backend/application/portfolio/rebalance_service.py
  backend/application/scan/scan_service.py
  backend/domain/core/constants.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/application/test_scan_service.py
  backend/tests/conftest.py
  backend/tests/infrastructure/test_batch_download.py
  backend/tests/infrastructure/test_moat_persistent_failure.py
Due: architecture-boundary, constant-sync

feat: Add comprehensive tests for rebalance logic and signal caching
  backend/tests/application/test_rebalance_change.py
  backend/tests/infrastructure/test_batch_download.py
  backend/tests/infrastructure/test_fear_greed_fetch.py
Due: architecture-boundary

feat: Enhance holdings import functionality and documentation
  README.md
  backend/tests/api/test_holding_routes.py
  docs/agents/AGENTS.md
  docs/agents/folio/SKILL.md
  docs/agents/folio/reference.md
  frontend-react/package-lock.json
  frontend-react/package.json
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/public/templates/holdings_csv_template.csv
  frontend-react/src/components/allocation/holdings/AddHoldingSheet.tsx
  frontend-react/src/components/allocation/holdings/CsvColumnMapper.tsx
  frontend-react/src/components/allocation/holdings/CsvImportDialog.tsx
  frontend-react/src/components/allocation/holdings/CsvPreviewTable.tsx
  frontend-react/src/components/allocation/holdings/__tests__/CsvImportDialog.test.tsx
  frontend-react/src/lib/__tests__/csv-import.test.ts
  frontend-react/src/lib/csv-import.ts
  frontend-react/src/pages/Allocation.tsx
Due: architecture-boundary, eslint, vitest

feat: Add fundamentals endpoint and enhance stock data retrieval
  README.md
  backend/api/routes/stock_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/stock.py
  backend/application/stock/stock_service.py
  backend/domain/core/constants.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/api/test_cache_clear.py
  backend/tests/api/test_stock_routes.py
  backend/tests/application/test_stock_service.py
  backend/tests/infrastructure/test_market_data_fundamentals.py
  docs/agents/folio/SKILL.md
  docs/agents/folio/reference.md
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useRadar.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/radar.ts
  frontend-react/src/components/radar/FundamentalsSheet.tsx
  frontend-react/src/components/radar/FundamentalsTab.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/components/radar/__tests__/FundamentalsSheet.test.tsx
  frontend-react/src/components/radar/__tests__/FundamentalsTab.test.tsx
  frontend-react/src/lib/__tests__/format.test.ts
  frontend-react/src/lib/constants.ts
  frontend-react/src/lib/format.ts
  frontend-react/src/pages/Radar.tsx
Due: architecture-boundary, eslint, vitest, constant-sync
