Repository azusa152/azusa-stock: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-boundary, ruff-check, ruff-format

architecture-boundary:
  name: architecture boundary check
  entry: bash -c 'cd backend && LOG_DIR=/tmp/folio_test_logs DATABASE_URL=sqlite:// .venv/bin/python -m pytest tests/test_architecture.py -q --tb=short --no-header'
  language: system
  pass_filenames: false

ruff-check:
  name: ruff lint
  entry: bash -c 'backend/.venv/bin/ruff check backend/'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format check
  entry: bash -c 'backend/.venv/bin/ruff format --check backend/'
  language: system
  pass_filenames: false

feat: Enhance frontend testing and linting setup
  .cursor/rules/frontend-standards.mdc
  .pre-commit-config.yaml
  frontend-react/src/api/hooks/__tests__/useRadar.test.ts
  frontend-react/src/hooks/__tests__/usePrivacyMode.test.ts
  frontend-react/src/hooks/__tests__/useTheme.test.ts
  frontend-react/src/lib/__tests__/constants.test.ts
  frontend-react/src/lib/__tests__/utils.test.ts
Due: none

chore: Update pre-commit configuration and project files
  .idea/azusa-stock.iml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/ktfmt.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .pre-commit-config.yaml
  frontend-react/src/api/types/dashboard.ts
  frontend-react/src/index.css
  scripts/data/folio_watchlist.json
Due: none

fix: Update type assertion for mockApiClient in tests
  frontend-react/src/api/hooks/__tests__/useRadar.test.ts
  frontend-react/src/api/hooks/__tests__/useStocks.test.ts
Due: none

fix: Improve error handling and datetime safety in price alert checks
  backend/application/scan_service.py
  backend/tests/application/test_scan_service.py
Due: architecture-boundary, ruff-check, ruff-format

feat: Enhance privacy mode functionality and UI integration
  .cursor/rules/frontend-standards.mdc
  frontend-react/src/components/allocation/CurrencyExposure.tsx
  frontend-react/src/components/allocation/NotificationPreferences.tsx
  frontend-react/src/components/layout/AppSidebar.tsx
  frontend-react/src/hooks/__tests__/usePrivacyMode.test.ts
  frontend-react/src/hooks/usePrivacyMode.ts
  frontend-react/src/pages/Allocation.tsx
Due: none

feat: Enhance holding update functionality and frontend validation
  .cursor/rules/architecture-boundaries.mdc
  .cursor/rules/frontend-standards.mdc
  .cursor/rules/python-tooling.mdc
  backend/api/holding_routes.py
  backend/api/schemas.py
  backend/application/holding_service.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/allocation.ts
  frontend-react/src/components/allocation/HoldingsManager.tsx
  frontend-react/src/components/allocation/StressTest.tsx
  frontend-react/src/components/allocation/TargetAllocation.tsx
  frontend-react/src/components/layout/AppSidebar.tsx
Due: architecture-boundary, ruff-check, ruff-format

feat: Refactor rebalance advice structure and localization
  backend/application/rebalance_service.py
  backend/domain/rebalance.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/tests/application/test_rebalance_change.py
  backend/tests/domain/test_rebalance.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/dashboard/PerformanceChart.tsx
Due: architecture-boundary, ruff-check, ruff-format

fix: Update Japanese localization for consistency and clarity
  backend/i18n/locales/ja.json
  frontend-react/public/locales/ja.json
Due: architecture-boundary

feat: Implement price formatting utility and update components
  frontend-react/src/components/allocation/HoldingsManager.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/lib/__tests__/format.test.ts
  frontend-react/src/lib/format.ts
Due: none

feat: Add _safe_loc utility and enhance _fetch_moat_from_yf function
  backend/infrastructure/market_data.py
  backend/tests/infrastructure/test_market_data_moat.py
Due: architecture-boundary, ruff-check, ruff-format

feat: Enhance stock ticker validation and localization
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/radar/AddStockDrawer.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/lib/constants.ts
  frontend-react/src/lib/format.ts
Due: none

feat: Implement market data protocols and resolver
  backend/domain/protocols.py
  backend/infrastructure/market_data_resolver.py
  backend/tests/infrastructure/test_market_data_resolver.py
Due: architecture-boundary, ruff-check, ruff-format

feat: Integrate J-Quants API for enhanced Japanese financial data
  backend/domain/constants.py
  backend/infrastructure/jquants_adapter.py
  backend/infrastructure/market_data_resolver.py
  backend/requirements.txt
  backend/tests/infrastructure/test_jquants_adapter.py
  backend/tests/infrastructure/test_market_data_resolver.py
  docker-compose.yml
Due: architecture-boundary, ruff-check, ruff-format

feat: Add purchase and current FX rate to holdings and enhance related calculations
  backend/api/schemas.py
  backend/application/holding_service.py
  backend/application/rebalance_service.py
  backend/application/stock_service.py
  backend/domain/constants.py
  backend/domain/entities.py
  backend/infrastructure/database.py
  backend/infrastructure/market_data.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/allocation/HoldingsTable.tsx
  frontend-react/src/components/radar/CategoryTabs.tsx
Due: architecture-boundary, ruff-check, ruff-format

feat: Implement pip-tools for dependency management in backend
  .cursor/rules/project-core.mdc
  CLAUDE.md
  Makefile
  README.md
  backend/requirements.in
  backend/requirements.txt
  docs/agents/AGENTS.md
  docs/agents/folio/SKILL.md
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
Due: architecture-boundary

feat: Add J-Quants API key to environment example
  .env.example
Due: none

feat: Enhance market data processing for Taiwanese stocks
  backend/infrastructure/market_data.py
  backend/infrastructure/market_data_resolver.py
  backend/tests/infrastructure/test_market_data_moat.py
  backend/tests/infrastructure/test_market_data_resolver.py
Due: architecture-boundary, ruff-check, ruff-format

feat: Add FinMind API integration for enhanced Taiwanese stock data
  .env.example
  backend/infrastructure/finmind_adapter.py
  backend/infrastructure/market_data_resolver.py
  backend/tests/infrastructure/test_finmind_adapter.py
  backend/tests/infrastructure/test_market_data_resolver.py
  docker-compose.yml
Due: architecture-boundary, ruff-check, ruff-format

feat: Add TW market volatility index calculation and localization
  backend/application/stock_service.py
  backend/domain/constants.py
  backend/infrastructure/market_data.py
  backend/tests/infrastructure/test_tw_sentiment.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
Due: architecture-boundary, ruff-check, ruff-format

feat: Update README and documentation for TW market sentiment integration
  README.md
  docs/agents/AGENTS.md
  docs/agents/folio/SKILL.md
Due: none

chore: Update project configuration and dependencies
  .gitignore
  .idea/.gitignore
  .idea/azusa-stock.iml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/ktfmt.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .pre-commit-config.yaml
  Makefile
  backend/requirements.in
  backend/requirements.txt
  backend/tests/api/test_webhook.py
  backend/tests/application/test_filing_service.py
  backend/tests/application/test_rebalance_change.py
  backend/tests/domain/test_fear_greed_analysis.py
  backend/tests/test_rate_limiting.py
Due: architecture-boundary, ruff-check, ruff-format

feat: Introduce new API routes for Forex and FX Watch functionalities
  backend/api/routes/__init__.py
  backend/api/routes/forex_routes.py
  backend/api/routes/fx_watch_routes.py
  backend/api/routes/guru_routes.py
  backend/api/routes/holding_routes.py
  backend/api/routes/persona_routes.py
  backend/api/routes/preferences_routes.py
  backend/api/routes/scan_routes.py
  backend/api/routes/snapshot_routes.py
  backend/api/routes/stock_routes.py
  backend/api/routes/telegram_routes.py
  backend/api/routes/thesis_routes.py
  backend/api/schemas.py
  backend/api/schemas/__init__.py
  backend/api/schemas/common.py
  backend/api/schemas/fx_watch.py
  backend/api/schemas/guru.py
  backend/api/schemas/notification.py
  backend/api/schemas/portfolio.py
  backend/api/schemas/scan.py
  backend/api/schemas/stock.py
  backend/main.py
  backend/tests/api/test_guru_routes.py
  backend/tests/api/test_health.py
  backend/tests/api/test_scan_routes.py
  backend/tests/api/test_stress_test_routes.py
  backend/tests/test_error_sanitization.py
Due: architecture-boundary, ruff-check, ruff-format

refactor: Implement backward compatibility shims for domain modules
  backend/domain/analysis/__init__.py
  backend/domain/analysis/analysis.py
  backend/domain/analysis/fx_analysis.py
  backend/domain/analysis/smart_money.py
  backend/domain/constants.py
  backend/domain/core/__init__.py
  backend/domain/core/constants.py
  backend/domain/core/entities.py
  backend/domain/core/enums.py
  backend/domain/core/formatters.py
  backend/domain/core/protocols.py
  backend/domain/entities.py
  backend/domain/enums.py
  backend/domain/formatters.py
  backend/domain/fx_analysis.py
  backend/domain/portfolio/__init__.py
  backend/domain/portfolio/rebalance.py
  backend/domain/portfolio/stress_test.py
  backend/domain/portfolio/withdrawal.py
  backend/domain/protocols.py
  backend/domain/rebalance.py
  backend/domain/smart_money.py
  backend/domain/stress_test.py
  backend/domain/withdrawal.py
  backend/tests/domain/test_fear_greed_analysis.py
Due: architecture-boundary, ruff-check, ruff-format

refactor: Implement backward compatibility shims for infrastructure modules
  backend/infrastructure/crypto.py
  backend/infrastructure/database.py
  backend/infrastructure/external/__init__.py
  backend/infrastructure/external/crypto.py
  backend/infrastructure/external/notification.py
  backend/infrastructure/external/sec_edgar.py
  backend/infrastructure/finmind_adapter.py
  backend/infrastructure/jquants_adapter.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/finmind_adapter.py
  backend/infrastructure/market_data/jquants_adapter.py
  backend/infrastructure/market_data/market_data.py
  backend/infrastructure/market_data/market_data_resolver.py
  backend/infrastructure/market_data_resolver.py
  backend/infrastructure/notification.py
  backend/infrastructure/persistence/__init__.py
  backend/infrastructure/persistence/repositories.py
  backend/infrastructure/sec_edgar.py
  backend/tests/conftest.py
  backend/tests/infrastructure/test_batch_download.py
  backend/tests/infrastructure/test_finmind_adapter.py
  backend/tests/infrastructure/test_jquants_adapter.py
  backend/tests/infrastructure/test_market_data_beta.py
  backend/tests/infrastructure/test_market_data_change.py
  backend/tests/infrastructure/test_market_data_dedup.py
  backend/tests/infrastructure/test_market_data_moat.py
  backend/tests/infrastructure/test_market_data_resolver.py
  backend/tests/infrastructure/test_market_data_retry.py
  backend/tests/infrastructure/test_market_data_rogue_wave.py
  backend/tests/infrastructure/test_market_data_sector.py
  backend/tests/infrastructure/test_sec_edgar.py
  backend/tests/infrastructure/test_tw_sentiment.py
Due: architecture-boundary, ruff-check, ruff-format

feat: Add allocation analysis components for enhanced portfolio insights
  frontend-react/src/components/allocation/analysis/AllocationCharts.tsx
  frontend-react/src/components/allocation/analysis/DriftChart.tsx
  frontend-react/src/components/allocation/analysis/HealthScore.tsx
  frontend-react/src/components/allocation/analysis/RebalanceAnalysis.tsx
  frontend-react/src/components/allocation/analysis/SectorHeatmap.tsx
  frontend-react/src/components/allocation/analysis/XRayOverlap.tsx
  frontend-react/src/components/allocation/holdings/AddHoldingSheet.tsx
  frontend-react/src/components/allocation/holdings/HoldingsManager.tsx
  frontend-react/src/components/allocation/holdings/HoldingsTable.tsx
  frontend-react/src/components/allocation/settings/NotificationPreferences.tsx
  frontend-react/src/components/allocation/settings/TelegramSettings.tsx
  frontend-react/src/components/allocation/tools/CurrencyExposure.tsx
  frontend-react/src/components/allocation/tools/SmartWithdrawal.tsx
  frontend-react/src/components/allocation/tools/StressTest.tsx
  frontend-react/src/components/allocation/tools/TargetAllocation.tsx
  frontend-react/src/pages/Allocation.tsx
Due: none

feat: Refactor Docker setup for scanner scripts and cron jobs
  docker-compose.yml
  docker/scanner/entrypoint.sh
  docker/scanner/folio-curl.sh
  docker/scanner/smart-scan.sh
  docker/scanner/sync-13f.sh
  docker/scanner/take-snapshot.sh
Due: none

feat: Enhance CI workflow with path detection and conditional job execution
  .github/workflows/ci.yml
Due: none

fix: Update documentation for API type generation and architecture boundaries
  .cursor/rules/architecture-boundaries.mdc
  .cursor/rules/project-core.mdc
  .cursor/rules/testing.mdc
  CLAUDE.md
  README.md
Due: none

feat: Add constant synchronization check to CI workflow
  .pre-commit-config.yaml
  Makefile
  scripts/check_constant_sync.py
Due: none

feat: Enhance CI workflow and documentation for security checks
  .cursor/rules/python-tooling.mdc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  backend/requirements.in
  backend/requirements.txt
  frontend-react/package-lock.json
  scripts/check_ci_completeness.py
Due: architecture-boundary

Enhance CI workflow and documentation for CI Gate
  .cursor/rules/python-tooling.mdc
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  scripts/check_ci_completeness.py
Due: none

feat: Update frontend test coverage thresholds and enhance documentation
  .cursor/rules/frontend-standards.mdc
  CLAUDE.md
  README.md
  backend/infrastructure/external/crypto.py
  frontend-react/src/components/smartmoney/__tests__/formatters.test.ts
  frontend-react/src/hooks/__tests__/useChartThemes.test.ts
  frontend-react/src/hooks/__tests__/useIsMobile.test.ts
  frontend-react/src/hooks/__tests__/useLanguage.test.ts
  frontend-react/src/lib/__tests__/format.test.ts
  frontend-react/vitest.config.ts
Due: architecture-boundary, ruff-check, ruff-format

feat: Increase backend test coverage threshold and update documentation
  .cursor/rules/python-tooling.mdc
  CLAUDE.md
  README.md
  backend/domain/core/protocols.py
  backend/infrastructure/database.py
  backend/pyproject.toml
  backend/tests/application/test_currency_exposure.py
  backend/tests/application/test_stock_service.py
  backend/tests/conftest.py
  backend/tests/domain/test_formatters.py
  backend/tests/infrastructure/test_guru_repositories.py
  backend/tests/infrastructure/test_removal_repositories.py
Due: architecture-boundary, ruff-check, ruff-format

fix: Update CI workflow to specify coverage path for backend
  .github/workflows/ci.yml
Due: none

fix: Update CI workflow condition for backend and shared jobs
  .github/workflows/ci.yml
Due: none

feat: Add style and tier fields to Guru model and API
  backend/api/routes/guru_routes.py
  backend/api/schemas/guru.py
  backend/application/guru/guru_service.py
  backend/domain/core/constants.py
  backend/domain/core/entities.py
  backend/domain/core/enums.py
  backend/infrastructure/persistence/repositories.py
  backend/tests/api/test_guru_routes.py
  backend/tests/application/test_filing_service.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/smartmoney/AddGuruForm.tsx
  frontend-react/src/components/smartmoney/GuruStatusCards.tsx
  frontend-react/src/components/smartmoney/GuruStyleBadge.tsx
  frontend-react/src/components/smartmoney/__tests__/GuruStatusCards.test.tsx
  frontend-react/src/components/smartmoney/__tests__/GuruStyleBadge.test.tsx
  frontend-react/src/lib/constants.ts
  frontend-react/src/pages/SmartMoney.tsx
Due: architecture-boundary, ruff-check, ruff-format

Path conditions:
  architecture-boundary: any of: ^backend/
  ruff-check: any of: ^backend/.*\.py$
  ruff-format: any of: ^backend/.*\.py$
