Repository azusa152/azusa-stock: changes, and which pre-commit hooks are due for each by the changed paths.
All: constant-sync, architecture-boundary, eslint, vitest, npm-audit, ci-completeness

constant-sync:
  name: backend/frontend constant sync
  entry: bash -c 'backend/.venv/bin/python scripts/check_constant_sync.py'
  language: system
  pass_filenames: false

architecture-boundary:
  name: architecture boundary check
  entry: bash -c 'cd backend && LOG_DIR=/tmp/folio_test_logs DATABASE_URL=sqlite:// .venv/bin/python -m pytest tests/test_architecture.py -q --tb=short --no-header'
  language: system
  pass_filenames: false
  stages:
  - pre-push

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd frontend-react && npx eslint .'
  language: system
  pass_filenames: false
  stages:
  - pre-push

vitest:
  name: vitest (frontend)
  entry: bash -c 'cd frontend-react && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

npm-audit:
  name: npm audit (frontend, high severity)
  entry: bash -c 'cd frontend-react && npm audit --audit-level=high'
  language: system
  pass_filenames: false
  stages:
  - pre-push

ci-completeness:
  name: CI completeness check
  entry: bash -c 'cd backend && uv run python ../scripts/check_ci_completeness.py'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: Implement PWA support and enhance mobile experience
  README.md
  frontend-react/index.html
  frontend-react/nginx.conf
  frontend-react/package-lock.json
  frontend-react/package.json
  frontend-react/public/apple-touch-icon-180x180.png
  frontend-react/public/favicon.svg
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/public/pwa-192x192.png
  frontend-react/public/pwa-512x512.png
  frontend-react/public/pwa-maskable-192x192.png
  frontend-react/public/pwa-maskable-512x512.png
  frontend-react/src/App.tsx
  frontend-react/src/components/dashboard/DividendIncome.tsx
  frontend-react/src/components/dashboard/InfoPopover.tsx
  frontend-react/src/components/layout/AppSidebar.tsx
  frontend-react/src/components/layout/PageShell.tsx
  frontend-react/src/components/pwa/ReloadPrompt.tsx
  frontend-react/src/components/radar/CategoryTabs.tsx
  frontend-react/src/hooks/use-pwa-install.ts
  frontend-react/src/pages/Allocation.tsx
  frontend-react/src/pages/Dashboard.tsx
  frontend-react/src/pages/FxWatch.tsx
  frontend-react/src/pages/Radar.tsx
  frontend-react/src/pages/SmartMoney.tsx
  frontend-react/tsconfig.app.json
  frontend-react/vite.config.ts
Due: eslint, vitest, npm-audit

feat: Implement signal backtesting functionality
  README.md
  backend/api/routes/backtest_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/backtest.py
  backend/application/scan/__init__.py
  backend/application/scan/backtest_service.py
  backend/application/scan/scan_service.py
  backend/application/services.py
  backend/domain/analysis/__init__.py
  backend/domain/analysis/backtest.py
  backend/domain/core/constants.py
  backend/infrastructure/database.py
  backend/infrastructure/persistence/repositories.py
  backend/infrastructure/repositories.py
  backend/main.py
  backend/tests/api/test_backtest_routes.py
  backend/tests/application/test_backtest_service.py
  backend/tests/application/test_xray_etf_breakdown.py
  backend/tests/conftest.py
  backend/tests/domain/test_backtest_analysis.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/App.tsx
  frontend-react/src/api/hooks/useBacktest.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/backtest.ts
  frontend-react/src/components/layout/AppSidebar.tsx
  frontend-react/src/pages/Backtest.tsx
Due: constant-sync, architecture-boundary, eslint, vitest

feat: Implement cold-start backfill for historical signal data
  README.md
  backend/api/routes/backtest_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/backtest.py
  backend/application/scan/__init__.py
  backend/application/scan/backfill_service.py
  backend/application/scan/prewarm_service.py
  backend/application/services.py
  backend/domain/analysis/__init__.py
  backend/domain/analysis/backtest.py
  backend/domain/core/constants.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/api/test_backtest_routes.py
  backend/tests/application/test_backfill_service.py
  backend/tests/conftest.py
  backend/tests/domain/test_backtest_analysis.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useBacktest.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/backtest.ts
  frontend-react/src/pages/Backtest.tsx
Due: constant-sync, architecture-boundary, eslint, vitest

feat: Add CSV export functionality for backtest occurrences
  README.md
  backend/api/routes/backtest_routes.py
  backend/application/scan/backtest_service.py
  backend/application/services.py
  backend/tests/api/test_backtest_routes.py
  backend/tests/application/test_backtest_service.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/pages/Backtest.tsx
  frontend-react/src/pages/__tests__/Backtest.test.tsx
Due: architecture-boundary, eslint, vitest

feat: Enhance signal backtesting UI and localization
  README.md
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/dashboard/SignalAlerts.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/lib/signal-label.ts
  frontend-react/src/pages/Backtest.tsx
  frontend-react/src/pages/__tests__/Backtest.test.tsx
Due: eslint, vitest

feat: Enhance signal determination logic and improve documentation
  README.md
  backend/application/scan/backfill_service.py
  backend/application/scan/scan_service.py
  backend/application/stock/stock_service.py
  backend/domain/analysis/analysis.py
  backend/domain/analysis/backtest.py
  backend/domain/core/constants.py
  backend/tests/application/test_backfill_service.py
  backend/tests/domain/test_analysis.py
  backend/tests/domain/test_formatters.py
  docs/agents/AGENTS.md
  docs/agents/folio/SKILL.md
  frontend-react/package-lock.json
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/dashboard/PortfolioPulse.tsx
  frontend-react/src/components/dashboard/SignalAlerts.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/lib/signal-label.ts
  frontend-react/src/pages/Backtest.tsx
Due: constant-sync, architecture-boundary, eslint, vitest, npm-audit

feat: Introduce multi-metric filter panel for radar stocks
  README.md
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/radar/CategoryTabs.tsx
  frontend-react/src/components/radar/RadarFilterPanel.tsx
  frontend-react/src/hooks/__tests__/useRadarFilters.test.ts
  frontend-react/src/hooks/useRadarFilters.ts
  frontend-react/src/pages/Radar.tsx
Due: eslint, vitest

feat: Enhance radar filter panel with presets and tooltips
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/radar/RadarFilterPanel.tsx
  frontend-react/src/hooks/__tests__/useRadarFilters.test.ts
  frontend-react/src/hooks/useRadarFilters.ts
  frontend-react/src/pages/Radar.tsx
Due: eslint, vitest

feat: Introduce net worth tracking feature
  Makefile
  README.md
  backend/api/routes/networth_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/networth.py
  backend/application/portfolio/__init__.py
  backend/application/portfolio/net_worth_service.py
  backend/domain/core/constants.py
  backend/domain/core/entities.py
  backend/domain/entities.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/infrastructure/database.py
  backend/main.py
  backend/tests/api/test_networth_routes.py
  backend/tests/application/test_net_worth_service.py
  backend/tests/domain/test_net_worth_entities.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useNetWorth.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/networth.ts
  frontend-react/src/components/allocation/networth/AddNetWorthItemSheet.tsx
  frontend-react/src/components/allocation/networth/NetWorthItemsTable.tsx
  frontend-react/src/components/allocation/networth/NetWorthOverview.tsx
  frontend-react/src/components/allocation/networth/__tests__/NetWorthItemsTable.test.tsx
  frontend-react/src/components/dashboard/NetWorthSummary.tsx
  frontend-react/src/components/dashboard/__tests__/NetWorthSummary.test.tsx
  frontend-react/src/lib/constants.ts
  frontend-react/src/pages/Allocation.tsx
  frontend-react/src/pages/Dashboard.tsx
Due: constant-sync, architecture-boundary, eslint, vitest, ci-completeness

feat: Enhance net worth tracking with minimum payment feature
  README.md
  backend/api/schemas/networth.py
  backend/application/portfolio/net_worth_service.py
  backend/domain/core/entities.py
  backend/infrastructure/database.py
  backend/tests/api/test_networth_routes.py
  backend/tests/application/test_net_worth_service.py
  backend/tests/domain/test_net_worth_entities.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/allocation/networth/AddNetWorthItemSheet.tsx
  frontend-react/src/components/allocation/networth/NetWorthHistoryChart.tsx
  frontend-react/src/components/allocation/networth/NetWorthItemsTable.tsx
  frontend-react/src/components/allocation/networth/__tests__/NetWorthHistoryChart.test.tsx
  frontend-react/src/components/allocation/networth/__tests__/NetWorthItemsTable.test.tsx
  frontend-react/src/components/dashboard/__tests__/NetWorthSummary.test.tsx
  frontend-react/src/pages/Allocation.tsx
Due: architecture-boundary, eslint, vitest

refactor: Simplify AddNetWorthItemSheet component and improve tooltip handling
  frontend-react/src/components/allocation/networth/AddNetWorthItemSheet.tsx
  frontend-react/src/components/allocation/networth/NetWorthHistoryChart.tsx
  frontend-react/src/components/allocation/networth/__tests__/NetWorthHistoryChart.test.tsx
  frontend-react/src/pages/Allocation.tsx
Due: eslint, vitest

feat: Add seed preview and seeding functionality for net worth items
  backend/api/routes/networth_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/networth.py
  backend/application/portfolio/holding_service.py
  backend/application/portfolio/net_worth_service.py
  backend/domain/core/entities.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/infrastructure/database.py
  backend/tests/api/test_networth_routes.py
  backend/tests/application/test_net_worth_service.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useNetWorth.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/networth.ts
  frontend-react/src/components/allocation/networth/__tests__/NetWorthItemsTable.test.tsx
  frontend-react/src/components/dashboard/__tests__/NetWorthSummary.test.tsx
  frontend-react/src/pages/Allocation.tsx
  frontend-react/src/pages/__tests__/Allocation.networth.test.tsx
Due: architecture-boundary, eslint, vitest

feat: Add cryptocurrency tracking and management features
  README.md
  backend/api/routes/crypto_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/crypto.py
  backend/api/schemas/portfolio.py
  backend/application/portfolio/__init__.py
  backend/application/portfolio/crypto_service.py
  backend/application/portfolio/holding_service.py
  backend/application/portfolio/rebalance_service.py
  backend/application/scan/prewarm_service.py
  backend/domain/core/constants.py
  backend/domain/core/entities.py
  backend/domain/core/enums.py
  backend/infrastructure/database.py
  backend/infrastructure/market_data/__init__.py
  backend/infrastructure/market_data/crypto_adapter.py
  backend/main.py
  backend/tests/api/test_crypto_routes.py
  backend/tests/application/test_crypto_service.py
  backend/tests/application/test_holding_service.py
  backend/tests/infrastructure/test_crypto_adapter.py
  docs/agents/folio/SKILL.md
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/__tests__/useCrypto.test.ts
  frontend-react/src/api/hooks/useCrypto.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/components/allocation/holdings/AddHoldingSheet.tsx
  frontend-react/src/components/allocation/holdings/CsvColumnMapper.tsx
  frontend-react/src/components/allocation/holdings/HoldingsTable.tsx
  frontend-react/src/components/allocation/holdings/__tests__/AddHoldingSheet.crypto.test.tsx
  frontend-react/src/components/dashboard/TopHoldings.tsx
  frontend-react/src/lib/__tests__/constants.test.ts
  frontend-react/src/lib/constants.ts
  frontend-react/src/lib/csv-import.ts
  scripts/check_constant_sync.py
Due: constant-sync, architecture-boundary, eslint, vitest

feat: Add coingecko_id support for cryptocurrency tracking
  backend/api/routes/stock_routes.py
  backend/api/schemas/stock.py
  backend/application/scan/backfill_service.py
  backend/application/scan/prewarm_service.py
  backend/application/scan/scan_service.py
  backend/application/stock/stock_service.py
  backend/domain/core/constants.py
  backend/domain/core/entities.py
  backend/infrastructure/database.py
  backend/tests/application/test_scan_service.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/openapi.json
  frontend-react/src/components/radar/AddStockDrawer.tsx
  frontend-react/src/components/radar/CategoryTabs.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/components/radar/__tests__/AddStockDrawer.crypto.test.tsx
  frontend-react/src/components/radar/__tests__/CategoryTabs.test.tsx
  frontend-react/src/lib/__tests__/constants.test.ts
  frontend-react/src/lib/constants.ts
  scripts/check_constant_sync.py
Due: constant-sync, architecture-boundary, eslint, vitest

feat: Enhance localization and improve scan handling in dashboard and radar
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/__tests__/useRadar.test.ts
  frontend-react/src/api/hooks/useBacktest.ts
  frontend-react/src/api/hooks/useRadar.ts
  frontend-react/src/api/queryClient.ts
  frontend-react/src/lib/__tests__/utils.test.ts
  frontend-react/src/lib/utils.ts
  frontend-react/src/pages/Dashboard.tsx
  frontend-react/src/pages/Radar.tsx
Due: eslint, vitest

feat: Add application versioning and clean up localization files
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/lib/i18n.ts
  frontend-react/src/pages/Dashboard.tsx
  frontend-react/vite.config.ts
Due: eslint, vitest

feat: Add market closed localization strings and update scan handling in Dashboard
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/pages/Dashboard.tsx
Due: eslint, vitest

feat: Enhance StockCard component with index prop and sparkline loading optimization
  frontend-react/src/components/radar/CategoryTabs.tsx
  frontend-react/src/components/radar/StockCard.tsx
Due: eslint, vitest

feat: Implement resonance cache invalidation and enhance stock route functionality
  backend/api/routes/stock_routes.py
  backend/application/guru/resonance_service.py
  backend/application/portfolio/snapshot_service.py
  backend/application/scan/prewarm_service.py
  backend/domain/core/constants.py
  backend/infrastructure/market_data/market_data.py
  backend/tests/conftest.py
Due: constant-sync, architecture-boundary

feat: Add 13F heat map and guru backtest features
  README.md
  backend/api/routes/guru_routes.py
  backend/api/schemas/__init__.py
  backend/api/schemas/guru_analytics.py
  backend/application/guru/__init__.py
  backend/application/guru/backtest_service.py
  backend/application/guru/heatmap_service.py
  backend/domain/analysis/__init__.py
  backend/domain/analysis/guru_backtest.py
  backend/domain/core/constants.py
  backend/i18n/locales/en.json
  backend/i18n/locales/ja.json
  backend/i18n/locales/zh-CN.json
  backend/i18n/locales/zh-TW.json
  backend/infrastructure/persistence/repositories.py
  backend/tests/api/test_guru_routes.py
  backend/tests/application/test_guru_analytics_service.py
  backend/tests/conftest.py
  backend/tests/domain/test_guru_backtest_analysis.py
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/api/hooks/useSmartMoney.ts
  frontend-react/src/api/openapi.json
  frontend-react/src/api/types/smartMoney.ts
  frontend-react/src/components/smartmoney/GuruBacktestTab.tsx
  frontend-react/src/components/smartmoney/HeatmapTab.tsx
  frontend-react/src/lib/constants.ts
  frontend-react/src/pages/SmartMoney.tsx
Due: constant-sync, architecture-boundary, eslint, vitest

feat: Update HeatmapTab component and localization strings
  frontend-react/package-lock.json
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/smartmoney/HeatmapTab.tsx
  frontend-react/src/components/smartmoney/__tests__/HeatmapTab.test.tsx
Due: eslint, vitest, npm-audit

feat: Refactor color handling in components and update theme color meta tags
  frontend-react/index.html
  frontend-react/src/components/allocation/holdings/HoldingsTable.tsx
  frontend-react/src/components/dashboard/PortfolioPulse.tsx
  frontend-react/src/components/dashboard/TopHoldings.tsx
  frontend-react/src/components/radar/FundamentalsSheet.tsx
  frontend-react/src/components/radar/FundamentalsTab.tsx
  frontend-react/src/components/radar/SparklineHeader.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/lib/colors.ts
Due: eslint, vitest

feat: Enhance glossary integration and localization in components
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/GlossaryTerm.tsx
  frontend-react/src/components/__tests__/GlossaryTerm.test.tsx
  frontend-react/src/components/dashboard/PortfolioPulse.tsx
  frontend-react/src/components/dashboard/__tests__/PortfolioPulse.glossary.test.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/components/radar/__tests__/StockCard.glossary.test.tsx
  frontend-react/src/test/setup.ts
Due: eslint, vitest

feat: Replace text indicators with ChevronDown icons in various components
  frontend-react/src/components/radar/RadarFilterPanel.tsx
  frontend-react/src/components/smartmoney/GuruBacktestTab.tsx
  frontend-react/src/components/smartmoney/HeatmapTab.tsx
  frontend-react/src/pages/Allocation.tsx
  frontend-react/src/pages/Backtest.tsx
  frontend-react/src/pages/Radar.tsx
  frontend-react/src/pages/SmartMoney.tsx
Due: eslint, vitest

feat: Replace text indicators with ChevronDown icons in additional components
  frontend-react/src/components/allocation/settings/TelegramSettings.tsx
  frontend-react/src/components/dashboard/ResonanceSummary.tsx
  frontend-react/src/components/fxwatch/WatchCard.tsx
  frontend-react/src/components/radar/ArchiveTab.tsx
  frontend-react/src/components/radar/StockCard.tsx
  frontend-react/src/components/smartmoney/GuruTab.tsx
Due: eslint, vitest

feat: Enhance localization and onboarding experience in dashboard components
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/components/EmptyState.tsx
  frontend-react/src/components/__tests__/EmptyState.test.tsx
  frontend-react/src/components/dashboard/PortfolioPulse.tsx
  frontend-react/src/components/dashboard/SignalAlerts.tsx
  frontend-react/src/pages/Dashboard.tsx
Due: eslint, vitest

feat: Enhance accessibility and localization in chart components
  frontend-react/public/locales/en.json
  frontend-react/public/locales/ja.json
  frontend-react/public/locales/zh-CN.json
  frontend-react/public/locales/zh-TW.json
  frontend-react/src/App.tsx
  frontend-react/src/components/LightweightChartWrapper.tsx
  frontend-react/src/components/allocation/networth/NetWorthHistoryChart.tsx
  frontend-react/src/components/allocation/tools/StressTest.tsx
  frontend-react/src/components/allocation/tools/TargetAllocation.tsx
  frontend-react/src/components/dashboard/PerformanceChart.tsx
  frontend-react/src/components/dashboard/StockHeatmap.tsx
  frontend-react/src/components/fxwatch/AddWatchDialog.tsx
  frontend-react/src/components/fxwatch/EditWatchPopover.tsx
  frontend-react/src/components/fxwatch/FxChart.tsx
  frontend-react/src/components/fxwatch/WatchCard.tsx
  frontend-react/src/components/radar/PriceChart.tsx
Due: eslint, vitest

Path conditions:
  constant-sync: any of: (backend/domain/core/constants\.py|frontend-react/src/lib/constants\.ts)
  architecture-boundary: any of: ^backend/
  eslint: any of: ^frontend-react/.*\.(ts|tsx|js|jsx)$
  vitest: any of: ^frontend-react/
  npm-audit: any of: ^frontend-react/package-lock\.json$
  ci-completeness: any of: (\.github/workflows/ci\.yml|Makefile)
